<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StytchHostURL</key>
	<string>http://example.com</string>
	<key>StytchPublicToken</key>
	<string>public-token-test-5110e67c-f7a1-4ed7-9f85-604e0f6447d3</string>
</dict>
</plist>
