<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StytchHostURL</key>
	<string>http://example.com</string>
	<key>StytchPublicToken</key>
	<string>public-token-test-d15fc614-e488-4a4c-8847-0b617895e2d5</string>
</dict>
</plist>
