<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StytchHostURL</key>
	<string>https://example.com</string>
	<key>StytchPublicToken</key>
	<string>public-token-test-1944a878-2aa8-47ea-a580-01b22e46c7f4</string>
</dict>
</plist>
