name: Cut version

on:
  workflow_dispatch:
    inputs:
      release_type:
        type: choice
        description: The intended type of release (patch requires manual handling)
        options:
          - minor
          - major

env:
  DEVELOPER_DIR: /Applications/Xcode_16.3.app/Contents/Developer

jobs:
  cut-version:
    runs-on: ubuntu-latest

    steps:

    - uses: actions/checkout@v3
      with:
        token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}

    - name: Ensure unique tag
      run: if [[ $(git tag -l $(Scripts/version show-current)) ]]; then exit 1; fi

    - name: Create and push tag
      run: |
        git tag $(Scripts/version show-current)
        git push --tags

    - name: Configure git to allow push to private repo
      env:
        TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
      run: |
        git config --global url."https://ci-stytch:${TOKEN}@github.com/stytchauth".insteadOf "https://github.com/stytchauth"
        git config --global user.email "ci-stytch@stytch.com"
        git config --global user.name "ci-stytch"

    - name: Bump version
      env:
        GH_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
      run: |
        Scripts/version increment ${{ github.event.inputs.release_type }}
        branch_name="version-increment/$(Scripts/version show-current)"
        git checkout -b "$branch_name"
        git add 'Sources/StytchCore/SharedModels/ClientInfo+Version.swift'
        git commit -m "[version] Increment to $(Scripts/version show-current)" --author "CI <ci@stytch.com>"
        git push --set-upstream origin "$branch_name"
        gh pr create --body 'As titled' --fill
        gh pr merge --auto --squash

    - name: Approve version PR
      env:
        GH_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
      run: gh pr review --approve
