name: Docs
on:
  push:
    branches:
      - main
  pull_request:

env:
  DEVELOPER_DIR: /Applications/Xcode_14.0.app/Contents/Developer

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.ref != 'refs/heads/main' || github.run_number }}
  cancel-in-progress: ${{ startsWith(github.ref, 'refs/pull') }}

jobs:
  docs:
    runs-on: macos-12

    steps:
    - uses: actions/checkout@v3

#     - name: Bootstrap
#       uses: ./.github/actions/bootstrap

    - uses: actions/checkout@v3
      with:
        ref: docs/live
        path: docs-live

    - name: Codegen
      run: make codegen

    - name: Generate docs
      run: make docs-site

    - name: Publish docs
      run: |
        current_sha="$(git rev-parse @)"
        rsync -a .build/docs docs-live/
        cd docs-live
        git add docs
        git commit --author="CI <ci@stytch.com>" -m "$current_sha"
        git push
