name: Release

on:
  push:
    branches:
      - '!*'
    tags:
      - '[0-9]+.[0-9]+.[0-9]+'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.ref != 'refs/heads/main' || github.run_number }}
  cancel-in-progress: ${{ startsWith(github.ref, 'refs/pull') }}

jobs:
  release:
    runs-on: [ self-hosted, apple-silicon ]

    steps:

    - uses: actions/checkout@v3

    - name: Bootstrap
      run: |
        make setup
        make tools

    - name: Ensure SDK version matches current tag
      run: |
        if [[ "$(Scripts/current-version)" != ${{ github.ref_name }} ]]; then
          echo "Tag '${{ github.ref_name }}' not equal to $(Scripts/current-version)"
          exit 1
        fi

    - name: Create XCFramework
      run: |
        arch -arm64 mint run swift-create-xcframework --zip --xc-setting SKIP_INSTALL=NO --xc-setting BUILD_LIBRARY_FOR_DISTRIBUTION=YES
        mv StytchCore.zip StytchCore.xcframework.zip

    - name: Build docs
      run: |
        make docs
        cd .build/Build/Products/Release-iphoneos
        zip -r StytchCore.doccarchive.zip StytchCore.doccarchive

    - name: Publish to GitHub
      uses: softprops/action-gh-release@v1
      if: startsWith(github.ref, 'refs/tags/')
      with:
        draft: true # TODO: - change this so it's not draft
        files: |
          StytchCore.xcframework.zip
          .build/Build/Products/Release-iphoneos/StytchCore.doccarchive.zip

    - name: Publish to Cocoapods
      run: |
        gem install cocoapods
        set -eo pipefail
        pod lib lint --allow-warnings
        pod trunk push --allow-warnings
      env:
        COCOAPODS_TRUNK_TOKEN: ${{ secrets.COCOAPODS_TRUNK_TOKEN }}

    - name: Publish to Carthage
      run: Scripts/publish-to-carthage ${{ github.ref_name }}
      env:
        S3_ACCESS_KEY: ${{ secrets.S3_ACCESS_KEY }}
        S3_SECRET_KEY: ${{ secrets.S3_SECRET_KEY }}
