name: Release

on:
  push:
    branches:
      - '!*'
    tags:
      - '[0-9]+.[0-9]+.[0-9]+'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.ref != 'refs/heads/main' || github.run_number }}
  cancel-in-progress: ${{ startsWith(github.ref, 'refs/pull') }}

jobs:
  release:
    runs-on: [ self-hosted, apple-silicon ]

    steps:

    - uses: actions/checkout@v3

    - name: Bootstrap
      run: |
        make setup
        make tools

    - name: Create XCFramework
      run: |
        arch -arm64 mint run swift-create-xcframework --zip
        mv StytchCore.zip StytchCore.xcframework.zip

    - name: Release
      uses: softprops/action-gh-release@v1
      if: startsWith(github.ref, 'refs/tags/')
      with:
        draft: true # TODO: - change this so it's not draft
        files: StytchCore.xcframework.zip
