name: Test
on:
  push:
    branches:
      - main
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.ref != 'refs/heads/main' || github.run_number }}
  cancel-in-progress: ${{ startsWith(github.ref, 'refs/pull') }}

jobs:

  test:
    runs-on: [ self-hosted, apple-silicon ]

    steps:

    - uses: actions/checkout@v3

    - name: Bootstrap
      run: |
        make setup
        make tools

    - name: Codegen
      run: |
        make codegen
        if [[ ! -z $(git status --porcelain) ]]; then
          echo 'Codegen produced uncommitted changes. Commit changes and re-push.'
          exit 1
        fi

    - name: Lint
      run: make lint

    - name: Test
      run: make test

    - name: Coverage
      run: |
        make coverage
        Scripts/generate-coverage-summary .coverage/lcov.json >> $GITHUB_STEP_SUMMARY

    - uses: actions/upload-artifact@v3
      with:
        name: Coverage
        path: .coverage/
