name: Test
on:
  push:
    branches:
      - main
    tags:
      - '[0-9]+.[0-9]+.[0-9]+'
  pull_request:

env:
  DEVELOPER_DIR: /Applications/Xcode_14.0.app/Contents/Developer

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.ref != 'refs/heads/main' || github.run_number }}
  cancel-in-progress: ${{ startsWith(github.ref, 'refs/pull') }}

jobs:

  test:
    runs-on: macos-12

    steps:

    - uses: actions/checkout@v3

    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: .ruby-version
        bundler-cache: true

    - name: Cache Mint
      id: cache-mint
      uses: actions/cache@v3
      with:
        path: $HOME/.mint
        key: ${{ runner.os }}-mint-v1-${{ hashFiles('Mintfile') }}

    - name: Bootstrap
      run: |
        make setup # NOTE: - CI won't run bundle install
        make tools

    - name: Codegen
      run: |
        make codegen
        if [[ ! -z $(git status --porcelain | grep -v 'Brewfile.lock.json\|Gemfile.lock') ]]; then
          echo 'Codegen produced uncommitted changes. Commit changes and re-push.'
          exit 1
        fi

    - name: Lint
      run: make lint

    - name: Test macOS
      run: make test-macos

    - name: Test watchOS
      run: make test-watchos

    - name: Test tvOS
      run: make test-tvos

    - name: Test iOS
      run: make test-ios

    - name: Coverage
      run: |
        make coverage
        Scripts/generate-coverage-summary .coverage/lcov.json >> $GITHUB_STEP_SUMMARY

    - uses: actions/upload-artifact@v3
      with:
        name: Coverage
        path: .coverage/
